name: qr_pro_scanner
description: Professional mobile QR & barcode scanner with history, gallery scan, auto-copy and auto-open toggles.
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=2.18.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.5
  mobile_scanner: ^2.0.0
  image_picker: ^0.8.7+5
  google_mlkit_barcode_scanning: ^0.4.0
  shared_preferences: ^2.1.1
  url_launcher: ^6.1.10
  permission_handler: ^10.4.0
  fluttertoast: ^8.2.1

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/icon.png
